{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
		"transform-class-properties",
		[
			"@wordpress/babel-plugin-makepot",
			{
				"output": "languages/ang-js.pot"
			}
		]
    ]
}
