**/languages/**
/src/js/app/test.js
/assets/js/app.js.map
/build
/assets/js/app.js


/.idea/**
/.idea/workspace.xml
/inc/elementor/js/ang-action.min.js
/inc/elementor/js/ang-typography.min.js
/inc/elementor/js/*.min.js
