/src/js/app/test.js
/assets/js/app.js.map
/build
/assets/js/app.js
node_modules/
/assets/fonts/
/assets/js/blocksLibrary.js
/assets/js/blocksLibrary.js.map


/.idea/**
/.idea/workspace.xml
/inc/elementor/js/ang-action.min.js
/inc/elementor/js/ang-typography.min.js
/inc/elementor/js/*.min.js
/gulp.config.json

/vendor/
/.env
/tests/_data/dump.sql
tests/_output/*
tests/_support/_generated/*
tests/cache/*
tests/error.log
.DS_Store
