@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

:root {
	--ang-settings-accent: #5C32B6;
	--ang-settings-warning: #B33A3A;
}

body {
	background: #E3E3E3;
}

@media screen and (min-width: 768px) {
	.ang-wrapper {
		display:grid;
		grid-template-columns: 8fr 4fr;
		column-gap: 50px;
	}
}

.ang {
	font-family: 'Poppins', sans-serif;
}

a {
	color: var( --ang-settings-accent );
}
a:hover, a:focus, a:active {
	color: var( --ang-settings-accent );
	text-decoration: none;
}

h1.menu-title {
	margin-top: 20px;
	margin-bottom: 25px;
	font-weight: 700;
}

.nav-tab-wrapper {
	background: #E3E3E3;
}
.ang-wrapper form:not(.form-newsletter),
.nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover  {
	background: #fff;
}
.nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover, .nav-tab, .nav-tab:focus, .nav-tab:focus:active, .nav-tab:hover  {
	box-shadow: none;
	transition: none;
	border-bottom: 0;
}
.nav-tab {
	margin-left: 0;
	border: 0;
	padding: 12px 30px;
	font-weight: 700;
}

.nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper {
	border-bottom: 0;
}
.tab-content {
	padding: 10px 25px;
}

.form-table th, .form-table td {
	display: block;
}

.form-table th {
	width: 100%;
}

.form-table td {
	padding-top: 0;
	padding-left: 0;
}
.form-table th {
	padding-bottom: 5px;
	padding-left: 28px;
}
.form-table th, .form-table td fieldset li label {
	font-weight: normal;
	font-size: 14px;
	line-height: 180%;
	color: #141414;
}
.form-table td fieldset label, .tab-content p {
	font-weight: 500;
	font-size: 12px;
	line-height: 170%;
	color: #888888;
}
#ang_plugin_rollback_version-description + .form-table th, #ang_license_activation_title-description + .form-table th {
	padding-bottom: 15px;
	padding-left: 0;
}

.form-table input.tog, input[type="checkbox"] {
	margin-top: -65px;
	margin-right: 10px;
}

.form-table:not(:last-of-type) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar > div:not(:last-of-type) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sidebar > div {
	padding: 20px 0;
}

.sidebar h1 {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}
.sidebar {
	font-weight: 500;
	font-size: 12px;
	line-height: 170%;
	color: #6A6A6A;
}

.sidebar .newsletter-list input {
	width: 80%;
	padding: 5px 10px;
	font-weight: normal;
	font-size: 14.22px;
	line-height: 21px;
	color: #888888;
	background: #F2F2F2;
	border: 1px solid #DBDBDB;
	margin: 15px 0;
}
.sidebar .social {
	margin-top: 15px;
}
.sidebar .social > a {
	margin-right: 15px;
	text-decoration: none;
}

.sidebar .social .dashicons {
	width: 40px;
	height: 40px;
}

.ang-enhanced-select {
    width: 50%;
	margin: 8px 0;
}

.ang .ang-save-button, .ang .ang-button {
	background: var( --ang-settings-accent );
	border-color: var( --ang-settings-accent );
	box-shadow: none;
	text-shadow: none;
}

.ang .ang-button {
	padding: 12px 24px;
	color: #fff;
	font-size: 14.22px;
    font-weight: bold;
    text-align: center;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	text-decoration: none;
}
.ang .ang-save-button:hover, .ang .ang-save-button:focus, .ang .ang-save-button:active, .ang .ang-button:hover, .ang .ang-button:focus, .ang .ang-button:active {
	background: rgba(92, 50, 182, 0.8);
	border-color: rgba(92, 50, 182, 0.8);
}

.ang.gopro .submit {
 display: none;
}
.ang.gopro .ang-button.ang-gopro-button {
	display: inline-block;
	margin-top: 30px;
}

.sidebar .ang-message-success {
	color: var( --ang-settings-accent );
	font-size: 14px;
}
.sidebar .ang-message-error {
	color: var( --ang-settings-warning );
	font-size: 14px;
}
.ang.gopro h1 {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

.ang.gopro ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	font-weight: normal;
	font-size: 16px;
	line-height: 180%;
	margin-top: 20px;
}
@media screen and ( min-width: 768px ) {
	.ang.gopro ul {
		grid-template-columns: 1fr 1fr;
	}
}
.ang.gopro ul > li {
	position: relative;
	margin-left: 15px;
}

.ang.gopro ul > li::before {
	content: "• ";
	font-size: 30px;
	color: var( --ang-settings-accent );
	display: inline-block;
	margin-left: -16px;
position: absolute;
  }

.ang.gopro .ang-button {
	display: inline-block;
	margin-top: 30px;
}


.ang.gopro #mainform {
	background-image: url( 'http://analogwp.local/wp-content/plugins/analogwp-templates/assets/img/gopro_frames.png' );
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}
