#analogwp-blocks .blocks-library {
	margin: 0 0 0 -20px;
	position: relative;
	color: #1d2c37;
	background-color: #f3f4f5;

	--ang-accent: rgb(0, 112, 167);
}

#analogwp-blocks h1,
#analogwp-blocks h2,
#analogwp-blocks h3,
#analogwp-blocks h4,
#analogwp-blocks h5,
#analogwp-blocks h6 {
	color: #1d2c37;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 600;
}

#analogwp-blocks .primary-header {
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 22px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	position: sticky;
	position: -webkit-sticky;
	top: 30px;
	z-index: 999;
}

#analogwp-blocks .primary-header .page-title {
	font-size: 17px;
	font-weight: 600;
	line-height: 1.1;
	margin: 0;
}

#analogwp-blocks .primary-header .close-modal {
	margin-left: 10px;
}

#analogwp-blocks .library-wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
}

#analogwp-blocks .sidebar {
	width: 25%;
	height: 100vh;
	overflow: scroll;
	position: sticky;
	position: -webkit-sticky;
	top: 110px;
}

#analogwp-blocks .blocks-area {
	width: 70%;
}

#analogwp-blocks .sidebar .components-tab-panel__tabs {
	display: flex;
	flex-direction: column;
}

#analogwp-blocks .sidebar .components-tab-panel__tabs > .components-button {
	text-transform: capitalize;
}

#analogwp-blocks
	.sidebar
	.components-toggle-control
	.components-base-control__field {
	flex-direction: row-reverse;
	justify-content: space-between;
}

#analogwp-blocks
	.sidebar
	.components-toggle-control
	.components-base-control__field
	.components-form-toggle {
	margin-right: 0;
}

#analogwp-blocks
	.sidebar
	.components-toggle-control
	.components-base-control__field
	.components-toggle-control__label {
	padding: 20px 20px;
}

#analogwp-blocks .sidebar .block-categories-tabs .components-button {
	border-radius: 0;
	padding: 25px 0 25px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	font-size: 16px;
	color: #060606;
	justify-content: space-between;
}

#analogwp-blocks .sidebar .block-categories-tabs .components-button > span {
	color: rgba(0, 0, 0, 0.44);
	font-size: 14.22px;
	font-weight: normal;
}

#analogwp-blocks .sidebar .block-categories-tabs .components-button.active-tab {
	box-shadow: inset 6px 0 0 0 #007cba;
	font-weight: bold;
	color: #00669b !important;
}

#analogwp-blocks
	.sidebar
	.block-categories-tabs
	.components-button:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover,
.components-button:focus:not(:disabled) {
	background-color: transparent;
	outline: none;
	box-shadow: inset 6px 0 0 0 #007cba;
}

#analogwp-blocks .sidebar .block-categories-tabs label,
#analogwp-blocks
	.sidebar
	.components-toggle-control
	.components-base-control__field
	.components-toggle-control__label {
	font-size: 16px;
	color: #060606;
}

#analogwp-blocks .sidebar .block-categories-tabs {
	max-height: 60vh;
	overflow-y: scroll;
	padding-right: 10px;
}

/* Slider CSS  */

#analogwp-blocks .sidebar .slider {
	position: relative;
	min-height: 300px;
	padding-bottom: 80px;
}

#analogwp-blocks .sidebar .slider.no-animation > div {
	animation: none;
}

#analogwp-blocks .sidebar .slider a {
	text-decoration: none;
	color: inherit;
}

#analogwp-blocks .sidebar .slider .slide-1,
#analogwp-blocks .sidebar .slider .slide-2 {
	position: absolute;
	display: block;
	padding: 20px;
	top: 0;
	font-size: 16px;
	width: 80%;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

#analogwp-blocks .sidebar .slider .slide-1 {
	animation-name: sk-slider-anim-1;
}

#analogwp-blocks .sidebar .slider .slide-2 {
	animation-name: sk-slider-anim-2;
}

@keyframes sk-slider-anim-1 {
	0%,
	8.3% {
		left: -100%;
		opacity: 0;
	}
	8.3%,
	45% {
		left: 0%;
		opacity: 1;
	}
	55%,
	100% {
		left: 110%;
		opacity: 0;
	}
}

@keyframes sk-slider-anim-2 {
	0%,
	55% {
		left: -100%;
		opacity: 0;
	}
	60%,
	92% {
		left: 0%;
		opacity: 1;
	}
	100% {
		left: 110%;
		opacity: 0;
	}
}

#analogwp-blocks .blocks-grid .grid {
	display: flex;
	margin-left: -25px; /* gutter size offset */
	width: auto;
}

#analogwp-blocks .blocks-grid .grid-item {
	padding-left: 25px;
	background-clip: padding-box;
}

#analogwp-blocks .blocks-grid .grid-item:empty {
	display: none;
}

#analogwp-blocks .blocks-grid .grid-item > div {
	background: #fff;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	position: relative;
	margin-bottom: 25px;
}

#analogwp-blocks .blocks-grid .new {
	position: absolute;
	top: -8px;
	right: -8px;
	background: var(--ang-accent);
	color: #fff;
	z-index: 110;
	font-weight: bold;
	padding: 8px 10px;
	line-height: 1;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 14.22px;
	letter-spacing: 0.5px;
}

#analogwp-blocks .blocks-grid figure {
	position: relative;
	overflow: hidden;
	margin: 0;
	min-height: 150px;
	display: flex;
}
#analogwp-blocks .blocks-grid .ang-promo {
	text-decoration: none;
}

#analogwp-blocks .blocks-grid .favorite {
	box-shadow: none !important;
	outline: none !important;
}

#analogwp-blocks .blocks-grid .favorite svg {
	fill: #e6e9ec;
	position: relative;
	z-index: 195;
	width: 17px;
	height: 17px;
}
#analogwp-blocks .blocks-grid .favorite.is-active svg {
	fill: #FFB443;
}

#analogwp-blocks .blocks-grid img {
	max-width: 100%;
	height: auto;
	align-self: center;
}

#analogwp-blocks .blocks-grid img[src$="svg"] {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-height: 150px;
}

#analogwp-blocks .blocks-grid h3 {
	margin: 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
}

#analogwp-blocks .blocks-grid .content {
	border-top: 1px solid #ddd;
	padding: 30px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#analogwp-blocks .blocks-area {
	margin-top: 20px;
	margin-right: 20px;
}

#analogwp-blocks .blocks-area .components-base-control {
	margin-bottom: 30px;
}

#analogwp-blocks .blocks-area .components-text-control__input {
	background-color: #fff;
	color: #060606;
	font-size: 16px;
}

#analogwp-blocks .blocks-area .button-plain {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	appearance: none;
	outline: 0;
	background: transparent;
	font-weight: bold;
	color: #060606;
	font-size: 14.22px;
}
#analogwp-blocks .blocks-area .inner-popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	background: #fff;
}
#analogwp-blocks .blocks-area .inner-popup-header h1 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	margin: 0;
}
#analogwp-blocks .blocks-area .inner-popup-content p {
	font-size: 13px;
	line-height: 18px;
	color: #565d65;
}

#analogwp-blocks {
	position: relative;
}

#analogwp-blocks .ang-notices {
	position: fixed;
	right: 0;
	top: 75px;
	padding: 8px;
	z-index: 100000;
}

#analogwp-blocks .sidebar .slider button + button, #analogwp-blocks .blocks-area .ang-promo + button {
	margin-left: 10px;
}
