:root {
	--ang-accent: #5C32B6;
}

.elementor-add-analogwp-button {
	background-color: var(--ang-accent);
	margin-left: 5px;
}

#analogwp-templates-modal .dialog-widget-content {
    width: 95vw;
    max-width: 1300px;
    height: 800px;
    height: 95vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#analogwp-templates-modal p {
	margin: 1em 0;
}

#analogwp-templates {
	background-color: #e3e3e3;
    text-align: left;
}

#analogwp-templates input[type=checkbox]:checked:before {
	margin: -5px 0 0 -9px;
}

#analogwp-templates label {
	cursor: pointer;
}

#analogwp-templates-modal .dialog-message {
    padding: 0;
}

#analogwp-templates > div {
	margin: 0;
}

#analogwp-templates-modal .ang-notices p {
	margin: 0;
}

.elementor-add-analogwp-button {
	background-image: url('../img/triangle.svg');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
}

button[data-action="save_token"] {
	background-color: #8d62a0 !important;
}

.elementor-panel .ang-notice {
	background: #e6f6ff;
	padding: 10px;
	line-height: 1.4;
	border-radius: 3px;
}

.hint--medium:after {
	width: 180px !important;
}

@media (prefers-color-scheme: dark) {
	.elementor-panel .ang-notice {
		background: transparent;
		border: 2px solid rgba(255, 255, 255, .3);
	}

	[class*=hint--][aria-label]:after {
		background: #34383C;
		border: 2px solid rgba(255,255,255,.3);
		border-radius: 4px;
	}

	.hint--top-right:before {
		border-top-color: #727477 !important;
	}
}

.dark-mode .elementor-panel .ang-notice {
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .3);
}

.dark-mode [class*=hint--][aria-label]:after {
	background: #34383C;
	border: 2px solid rgba(255,255,255,.3);
	border-radius: 4px;
}

.dark-mode .hint--top-right:before {
	border-top-color: #727477;
}

.ang-description-wide .elementor-control-field-description {
	display: block;
}

#ang-stylekit-update .dialog-message p + p {
	margin-top: 20px;
}

#ang-stylekit-update .dialog-lightbox-ang_apply {
	color: #3ab54b;
	border-left: 1px solid #e6e9ec;
}

#ang-has-globalkit .dialog-header {
	line-height: 1.4;
}

#ang-has-globalkit .dialog-ang_apply {
	color: #39b54a;
}

#analogwp-templates,
#analogwp-templates-modal .dialog-message,
#analogwp-templates-modal .dialog-content {
	height: 100%;
}
