.elementor-add-analogwp-button {
	background-color: #3152FF;
	margin-left: 5px;
}

#analogwp-templates-modal .dialog-widget-content {
    width: 95vw;
    max-width: 1275px;
    height: 800px;
    height: 95vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#analogwp-templates {
    text-align: left;
}

#analogwp-templates input[type=checkbox]:checked:before {
	margin: -5px 0 0 -9px;
}

#analogwp-templates label {
	cursor: pointer;
}

#analogwp-templates-modal .dialog-message {
    padding: 0;
}

#analogwp-templates > div {
	margin: 0;
}

.elementor-add-analogwp-button {
	background-image: url('../img/triangle.svg');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
}

button[data-action="save_token"] {
	background-color: #8d62a0 !important;
}

.elementor-panel .ang-notice {
	background: #e6f6ff;
	padding: 10px;
	line-height: 1.4;
	border-radius: 3px;
}


#ang-stylekit-update .dialog-message p + p {
	margin-top: 20px;
}

#ang-stylekit-update .dialog-lightbox-ang_apply {
	color: #3ab54b;
	border-left: 1px solid #e6e9ec;
}
