body.admin_page_analog_onboarding #adminmenuback,
body.admin_page_analog_onboarding #adminmenuwrap,
body.admin_page_analog_onboarding #wpbody-content .notice,
body.admin_page_analog_onboarding #wpbody-content .error {
	display: none;
}

body.admin_page_analog_onboarding #wpcontent,
body.admin_page_analog_onboarding #wpfooter {
	margin-left: 0;
}

.analog-welcome-screen .onboarding-modal {
	margin: 40px auto 60px;
	border: 1px solid #DCDCDC;
	max-width: 700px;
	background-color: #fff;
	position: relative;
}

.analog-welcome-screen .content-wrapper {
	padding: 0 18px 0;
}

.analog-welcome-screen .short-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
}

.analog-welcome-screen .entry-footer {
	border-top: 1px solid #DCDCDC;
	padding: 18px;
}

.analog-welcome-screen .entry-header {
	padding: 16px 16px;
	border-bottom: 1px solid #DFDFDF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.analog-welcome-screen .logo {
	display: inline-flex;
}

.analog-welcome-screen .logo > span {
	align-self: center;
}

.analog-welcome-screen .brand-icon {
	display: inline-block;
	margin-right: 10px;
}

.analog-welcome-screen .brand-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.6;
}

.analog-welcome-screen a {
	color: currentColor;
}

.analog-welcome-screen .hidden {
	display: none;
}

.analog-welcome-screen .button {
	padding: 4px 35px;
	text-decoration: none;
	font-weight: 600;
	display: inline-block;
	border: none;
	outline: none;
	box-shadow: none;
}

.analog-welcome-screen .btn-primary {
	background-color: #413EC5;
	color: white;
	border: 2px solid #413EC5;
}

.analog-welcome-screen .btn-secondary {
	background-color: white;
	border: 2px solid #413EC5;
	border-radius: 4px;
	color: #413EC5;
	margin-right: 10px;
}


.analog-welcome-screen .actions {
	text-align: center;
}

.analog-welcome-screen .step > *:not(.current) {
	display: none;
}

.analog-welcome-screen .step > *.current {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	padding: 20px 0;
}

.analog-welcome-screen .step > *.current > :first-child {
	min-width: 40px;
	text-align: center;
}

.analog-welcome-screen .step:not(:last-child) {
	border-bottom: 1px solid #DFDFDF;
}


.analog-welcome-screen .step .switch-label,
.analog-welcome-screen .step .switch-description {
	margin: 0;
}

.analog-welcome-screen .step .switch-label {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
}

.analog-welcome-screen .step .switch-description {
	font-size: 14px;
	line-height: 1.7;
	color: #828282;
}

.analog-welcome-screen .entry-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/*  SWITCH  */
.analog-welcome-screen .switch {
	display: grid;
	grid-gap: 3rem;
	justify-self: center;
	margin-top: 4px;
}
.analog-welcome-screen .switch input {
	display: none;
}
.analog-welcome-screen .switch__field {
	width: 36px;
}

.analog-welcome-screen .switch__field label {
	display: flex;
	align-items: center;
	width: 100%;
	height: 1.2rem;
	box-shadow: 0.3rem 0.3rem 0.6rem #E4EBF5, -0.2rem -0.2rem 0.5rem #FFFFFF;
	background: rgba(255, 255, 255, 0);
	position: relative;
	cursor: pointer;
	border-radius: 1.6rem;
}
.analog-welcome-screen .switch__field label::after {
	content: "";
	position: absolute;
	left: 0.25rem;
	width: 0.85rem;
	height: 0.85rem;
	border-radius: 50%;
	background: white;
	transition: all 0.4s ease;
}
.analog-welcome-screen .switch__field label::before {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: #B8B8B8;
	opacity: 1;
	transition: all 0.4s ease;
}
.analog-welcome-screen .switch input:checked ~ label::before {
	opacity: 1;
	background: linear-gradient(330deg, #413EC5 0%, #5b0eeb 50%, #6d5dfc 100%);
}
.analog-welcome-screen .switch input:checked ~ label::after {
	left: 50%;
	background: #E4EBF5;
}

/* Pulse animation */
@keyframes pulse {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: .25;
		transform: scale(.75);
	}
}

.spinner-box {
	width: 50px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.pulse-container {
	width: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pulse-bubble {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #413EC5;
}

.pulse-bubble-1 {
	animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
	animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
	animation: pulse .4s ease .4s infinite alternate;
}
